body{
    background-image: url(../Assets/background.jpg);
    background-size: 100vw 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,p{
    color: #f9ffff;
    text-align: center;
    margin:2em 0 0 0
}
#description{
    margin-top: 5px;
    color: rgb(197, 174, 131);
}